#nav-main {
  position: fixed;
  width: 100%;
  background: rgba(250, 250, 250, 0.9);
  z-index: 100;
}

#nav-header .nav-header-container {
  padding: 1rem 4rem;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.10);
}

#nav-header .nav-header-container ul {
  list-style: none;
  margin: 0 0 1.7rem 0;
}

#nav-header .nav-header-container ul li {
  float: left;
  padding: 0 1rem 0 0;
  font-weight: 500;
}

#nav-header .nav-header-container ul li:not(:first-child) {
  border-left: solid 1px #ccc;
  padding: 0 1rem;
}

#nav-header .nav-header-container ul li a {
  text-decoration: none;
  padding: 0.5rem 0;
  cursor: pointer;
}

#nav-home-link:before {
  content: "";
  display: block;
  background: url('../../images/icons/icon_house_alt.svg') no-repeat center;
  background-size: 1.2rem;
  width: 1.2rem;
  height: 1.2rem;
  float: left;
  margin: 0 0.5rem 0 0;
}

#nav-projects-link:before {
  content: "";
  display: block;
  background: url(../../images/icons/arrow_carrot-down.svg) no-repeat center;
  background-size: 1.2rem;
  width: 1.2rem;
  height: 1.6rem;
  float: right;
  margin: 0 0 0 0.2rem;
}

#nav-header .nav-header-container ul li a img {
  width: 20px;
  margin-right: 0.5rem;
}

#nav-projects {
  display: none;
  z-index: 1;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.10);
}

#nav-projects .gallery a {
  text-decoration: none;
}

#nav-projects .gallery article {
  max-height: 15rem;
}

#nav-projects .gallery article .image {
  background-color: rgba(255,255,255,0);
}

#nav-projects .gallery p {
  padding: 0.5rem;
  font-weight: 500;
  color: rgba(0,0,0,1);
  text-align: center;
  margin: 0;
}

#nav-projects .gallery .caption p {
  color: #eee;
}